body[theme="rose_gold"] {
    --text-color: #ffffff;
    --background: #f3a683;
    --navbar: #e79a58;
    --accent: #ff9a8b;
}
body[theme="midnight"] {
    --text-color: white;
    --background: #1a2023;
    --navbar: #0e1213;
    --accent: #0284d4;
}
body[theme="main"] {
    --text-color: white;
    --background: #1a2023;
    --navbar: #0e1213;
    --accent: #0284d4;
}
body[theme="matrix"] {
    --text-color: #e0e0e0;
    --background: linear-gradient(#000000, #006b09);
    --navbar: #080808;
    --accent: #0284d4;
}
body[theme="beach"] {
    --text-color: #000000;
    --background: #f6d7b0;
    --navbar: #87CEEB;
    --accent: #0284d4;


